/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.editThisP
{
    margin: 0 auto !important;
    text-align: center;
}
.editErrorMsg
{
    margin: 0;
    color: #fff !important;
    text-align: center;
}
.editThisMsg
{
    margin: 0;
    color: #000 !important;
    text-align: center;
}
.editColor
{
    color: #fff !important;
}
.editWrapper
{
    top: 0 !important;
    left: 0;
}
.editBoxTitle
{
    background-color: #181a1d !important;
    color: #fff;
    margin-bottom: 30px;
    padding: 1px;
    padding-left: 10px;
}
.view_span
{
    display: block;
    margin-top: 9px;
}
.dataTables_filter{
    float: left !important;
}
.sys_logo{
    height:53px;
    display:inline;
    margin-bottom: 0px !important;
    margin-right: 5px;
}
.sidebar .logopanel {
    height: 55px;
}
.nav-sidebar{
    margin-top: 15px;
}
.sidebar .logopanel h1 img{
    margin-left: 0px;
}
.back-btn{
    float: left;
}

input.form-control:focus {
    background: white !important;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
th {
    font-size: 13px;
    text-transform: none !important;
}
.DTTT_container.btn-group {
    display: none !important;
}
h2.panel-title {
    font-family: "Open Sans" !important;
}
h2.panel-title {
    font-family: "Open Sans" !important;
}

.logopanel h1 span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
.logopanel h1 {
    display: block;
    text-align: center;
}

input[disabled=disabled][type=submit] {
    background-color: #e0e6ec !important;
    color: #bdbdbd !important;
}
.sidebar a:hover span {
    opacity: 1 !important;
}

strong {
    font-family: "Open Sans" !important;
}
