/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.editThisP
{
    margin: 0 auto !important;
    text-align: center;
}
.editErrorMsg
{
    margin: 0;
    color: #000 !important;
    text-align: center;
}
.editColor
{
    color: #fff !important;
}
.editWrapper
{
    top: 0 !important;
    left: 0;
}
.editBoxTitle
{
    background-color: #181a1d !important;
    color: #fff;
    margin-bottom: 30px;
    padding: 1px;
    padding-left: 10px;
}